<h2 class="dialog-naslov">
  {{ data?.mode === 'edit' ? 'Izmena univerziteta' : 'Dodavanje univerziteta' }}
</h2>
<div class="dialog-content-scroll">
  <form [formGroup]="form" class="univerzitet-form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Naziv univerziteta</mat-label>
      <input matInput formControlName="naziv">
      <mat-error *ngIf="form.get('naziv')?.hasError('required')">Polje je obavezno</mat-error>
      <mat-error *ngIf="form.get('naziv')?.hasError('naziv')">
        Dozvoljena su samo slova i razmaci, i mora početi velikim slovom.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Datum osnivanja</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="datumOsnivanja" [max]="today"
        [matDatepickerFilter]="pastDatesOnly" autocomplete="off">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('datumOsnivanja')?.hasError('required')">Polje je obavezno</mat-error>
      <mat-error *ngIf="form.get('datumOsnivanja')?.hasError('futureDate')">
        Datum ne može biti u budućnosti
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Ulica</mat-label>
      <input type="text" matInput formControlName="ulica" [matAutocomplete]="autoUlica">
      <mat-autocomplete #autoUlica="matAutocomplete">
        <mat-option *ngFor="let ulica of filteredUlice | async" [value]="ulica">
          {{ ulica }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="form.get('ulica')?.hasError('required')">Polje je obavezno</mat-error>
      <mat-error *ngIf="form.get('ulica')?.hasError('naziv')">
        Dozvoljena su samo slova i razmaci, i mora početi velikim slovom.
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Broj</mat-label>
      <input type="text" matInput formControlName="broj" [matAutocomplete]="autoBroj">
      <mat-autocomplete #autoBroj="matAutocomplete">
        <mat-option *ngFor="let broj of filteredBrojevi | async" [value]="broj">
          {{ broj }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="form.get('broj')?.hasError('required')">Polje je obavezno</mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Opis</mat-label>
      <textarea matInput formControlName="opis"></textarea>
      <mat-error *ngIf="form.get('opis')?.hasError('required')">Polje je obavezno</mat-error>
      <mat-error *ngIf="form.get('opis')?.hasError('minlength')">Najmanje 15 karaktera</mat-error>



    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Mesto</mat-label>
      <input type="text" matInput formControlName="mesto" [matAutocomplete]="autoMesto">
      <mat-autocomplete #autoMesto="matAutocomplete">
        <mat-option *ngFor="let mesto of filteredMesta | async" [value]="mesto.naziv">
          {{ mesto.naziv }}
        </mat-option>
        <mat-option *ngIf="(filteredMesta | async)?.length === 0" disabled>
          Nema dostupnih mesta
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="form.get('mesto')?.hasError('required')">Polje je obavezno</mat-error>
      <mat-error *ngIf="form.get('mesto')?.hasError('naziv')">
        Dozvoljena su samo slova i razmaci, i mora početi velikim slovom.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Drzava</mat-label>
      <input type="text" matInput formControlName="drzava" [matAutocomplete]="autoDrzava">
      <mat-autocomplete #autoDrzava="matAutocomplete">
        <mat-option *ngFor="let drzava of filteredDrzave | async" [value]="drzava.naziv">
          {{ drzava.naziv }}
        </mat-option>
        <mat-option *ngIf="(filteredDrzave | async)?.length === 0" disabled>
          Nema dostupnih drzava
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="form.get('drzava')?.hasError('required')">Polje je obavezno</mat-error>
      <mat-error *ngIf="form.get('drzava')?.hasError('naziv')">
        Dozvoljena su samo slova i razmaci, i mora početi velikim slovom.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Rektor</mat-label>
      <mat-select formControlName="rektor">
        <mat-option *ngFor="let nastavnik of nastavniciBezUniverziteta" [value]="nastavnik.id">{{ nastavnik.korisnik.ime
          }} {{ nastavnik.korisnik.prezime}}</mat-option>
        <mat-option *ngIf="(nastavniciBezUniverziteta?.length || 0) === 0" disabled>
          Nema dostupnih dekana
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('rektor')?.hasError('required')">Polje je obavezno</mat-error>
    </mat-form-field>

    <div *ngIf="errorMessage" class="alert alert-secondary mt-3" role="banner">
      {{ errorMessage }}
    </div>

    <div class="text-end mt-3">
      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Sačuvaj</button>
      <button mat-button type="button" (click)="onCancel()">Otkaži</button>
    </div>

  </form>
</div>