<!-- <div class="edit-container" *ngIf="student">
    <h1>Uredi Profil Studenta</h1>
    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
      <div class="form-group">
        <label for="ime">Ime:</label>
        <input type="text" id="ime" [(ngModel)]="student.ime" name="ime" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label for="korisnickoIme">Korisničko ime:</label>
        <input type="text" id="korisnickoIme" [(ngModel)]="student.korisnickoIme" name="korisnickoIme" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label for="jmbg">JMBG:</label>
        <input type="text" id="jmbg" [(ngModel)]="student.jmbg" name="jmbg" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label for="datumUpisa">Datum Upisa:</label>
        <input type="date" id="datumUpisa" [(ngModel)]="student.studentNaGodini.datumUpisa" name="datumUpisa" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label for="brojIndeksa">Broj Indeksa:</label>
        <input type="text" id="brojIndeksa" [(ngModel)]="student.studentNaGodini.brojIndeksa" name="brojIndeksa" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label for="godinaStudija">Godina Studija:</label>
        <input type="text" id="godinaStudija" [(ngModel)]="student.studentNaGodini.godinaStudija" name="godinaStudija" class="form-control">
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Sačuvaj izmene</button>
        <a [routerLink]="['/student-profil']" class="btn btn-secondary">Obustavi</a>
      </div>
    </form>
  </div>
   -->