<div class="container d-flex flex-column align-items-center">
    <div class="card">
        <app-generic-reusable-table naslov="Spisak uloga sa korisnicima" [kljucevi]="kljuceviUloga"
            [editRoute]="'/uloga/edit'" [podaci]="uloge" (obrisiEvent)="deleteUloga($event)">
        </app-generic-reusable-table>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content modal-scroll">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                            Dodavanje uloge
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <app-generic-form [fields]="formFieldsUloga" (ngSubmit)="addUloga($event)"></app-generic-form>

                </div>
                <div *ngIf="errorMessage" class="alert alert-secondary mt-3" role="banner">
                    {{ errorMessage }}
                </div>
            </div>
        </div>
    </div>
    <br>
    <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Dodaj ulogu
    </button>

        <!-- <button type="button" routerLink="/uloga/dodajUlogu" class="btn btn-primary"
            style="background-color: #0d6efd; border-color: #0d6efd;">Dodeli ulogu</button>
        <hr style="border-top: 2px solid black;">

        <div class="collapse" id="collapseExample">
            <div>
                <h3>Dodaj Ulogu</h3>
                <app-generic-form [fields]="formFieldsUloga" (ngSubmit)="addUloga($event)"></app-generic-form>
            </div>
            <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Dodaj studijski program
            </button>
        </div> -->
</div>